@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,600&display=swap');
.back{
    background-color: #050505;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    font-family: 'Ubuntu';
    height: 60px;
    width: 100px;
    border-color: white;
    top: 200px;
}
.body_homepage{
    width: 99%;
}
.back:hover{
    background-color: crimson;
    transition-duration: 0.5s;
    border: none;
}                 
.logo{
    font-family: 'Ubuntu';
    padding: 12px;
}
.feedback_consideration{
    background-color: crimson;
    color: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;

}
.submit{
    border-radius: 12px;
    background-color: white;
    height: 70px;
    width: 190px;
    font-size: 20px;
    font-family: 'Ubuntu';
    border: none;
}
.options{
    height: 50px;
    width: 120px;
    font-family: 'Satisfy', cursive;
    color: black;
    font-size: 20px;
    border-radius: 5px;
}
.subject{
    border-radius: 5px;
    font-size: 17px;
}
.fullname{
    font-family: 'Ubuntu';
    color: black;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}
.email{
    font-family: 'Ubuntu';
    color: black;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}
.submit:hover{
    background-color: crimson;
    transition-duration: 0.5s;
}
.container{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Ubuntu';
    
}
 .Portfo{
    color: white;
    font-size: 50px;
    text-decoration: none;
}
.lio{
    color: crimson;
    font-size: 50px;
    text-decoration: none;
}
.navbar{
    position: sticky;
    top: 0;
    background-color: #050505;
    opacity: 1;
    z-index: 1;
}
.navbar .logo a{
    color: white; 
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li:hover{
    color: crimson;
    border-color: white;
}
.navbar .menu li a{
    color: white;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.menu-btn1{
    font-family: 'Ubuntu';
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    background-color: rgb(0, 255, 76);  
    color: black;
}
.menu-btn{
    font-family: 'Ubuntu';
    font-size: 18px;
    padding: 15px 0;
    font-weight: 500;
    margin-left: 25px;
    color: white;
    text-decoration: none;
    letter-spacing: 0;
}
.chemistry{
    color: crimson;
    width: 400px;
    height: 400px;
    border-radius: 15px;
    text-align: center;
    background-image: url(images/bg.jpg);
    background-size: cover; 
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    display: flex;
    flex-direction: column;
    text-decoration: underline;
}
.chemistry:hover{
    color:black;
    background: none;
    background-image: url(images/chemsitry2.jpg);
    transition-duration: 0.5s;    
    background-size: cover; 
}
.home{
    display:flex;
    height: 100vh;
}
.physics{
    color:crimson;
    width: 400px;
    height: 400px;
    border-radius: 15px;
    align-items: center;
    background: url("images/physics.jpg") no-repeat center;
    background-size: cover;
    font-size: 50px;
    font-family: 'Ubuntu';  
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.economics{
    color:white;
    width: 400px;
    height: 400px;
    border-radius: 15px;
    background: url(images/economics3.jpg) center no-repeat;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-size: cover;
    align-items: center;
}
.a{
    text-decoration: none;
}
.economics:hover{
    color: black;
    background-image: url(images/economics2.jpg);
    transition-duration: 0.5s;
}
.subjects{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-evenly;
}
.physics:hover{
    color:black;
    background: url(images/physics2.jpg);
    background-size: cover;
    max-width: 400px;
    transition-duration: 0.5s;
}
.space_between{
    height: 400px;
    background-color: #050505;
}
.navbar .menu li a:hover{
    color: crimson;
    transition: all 0.3s ease;
}
.chemistry-text{
    opacity: 0;
    width: 400px;
    height: 400px;
}
.chemistry-text:hover{
    font-size: 30px;
    font-family: 'Ubuntu';
    color: crimson;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 1;
}

.mySidenav {
    position: fixed;
    left: -110px;
    transition: 0.3s;
    padding: 15px;
    width: 80px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  .mySidenav a:hover {
    left: 0;
  }
  .feedback{
      background-color: crimson;
      text-decoration: none;
  }
  #mySidenav a {
    position: absolute;
    left: -100px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #about {
    top: 620px;
    background-color: crimson;
  }
  
  #blog {
    top: 80px;
    background-color: #2196F3;
  }
  
  #projects {
    top: 140px;
    background-color: #f44336;
  }
  
  #contact {
    top: 200px;
    background-color: #555
  }
  .login{
    background-color: #4285F4;
    border: none;
    font-style: 'Ubuntu';
    font-size: 15px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.menu-btn1:hover{
    background-color: white;
    color: crimson;
    transition-duration: 0.5s;
}
